{
	"sitemap" : {
		"videoLinkExpression" :  "",
		"sitemapURL" :  ""
	},

	"glass" : {
		"videoLinkExpression" :  "",
		"glassURL" : "" 
	},

	"sitesearch" : {
		"videoLinkExpression" :  "",
		"searchURL" : "" 
	},

        "ice" : {
                "playlistURL" : ""
        }
}
